body{
  background-color: chartreuse;
}

h1 {
  color: darkslategray;
  font-family: serif;
  font-weight: bolder;
}
p {
  font-weight: bolder;
}
a {
  color: green;
  font-size: larger;
  font-weight: bolder;
  text-decoration: none;
}
